
ion-icon:not(ion-icon[name="send-outline"]) {
    position: relative;
    transition: all .2s cubic-bezier(0.76,0,0.24,1);
    padding: 7px;
    border-radius: 50%;
    border: .5px solid #4755696e;
}
ion-icon:not(ion-icon[name="send-outline"])::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color:   #F8FAFC ;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    border-radius: 50%;
    transform: scale(0);
    transition: all .2s cubic-bezier(0.76,0,0.24,1);
}
ion-icon:not(ion-icon[name="send-outline"]):hover {
    color: #4F46E5;
}
ion-icon:not(ion-icon[name="send-outline"]):hover::before {
    transform:  scale(1);
}
