.parentDiv{
    .child{
        background: #000;
        transition: all .3s cubic-bezier(0.16, 1, 0.3, 1);
    }
    &:hover .child {
        background: #fff;
    }
}
.searchBox,.gptrespone {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
.persongpt:last-of-type {
    position: relative;
    animation: answer .2s ease;
}
